@charset "utf-8";


/* Reset ***************************************************************************************************************************** */

* {
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;

}

/* float을 해제하는 가상요소 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}


/* common(공통의 디자인!!) ************************************************************************************************* */

.title {
    font-size: 30px;
}

/* (영역 '내부'에서) 컨텐츠 너비를 잡아주는 공통 클래스 */
.inner {
    width: 960px;
    margin: 0 auto;
    /* outline: 2px solid lime; */
}


/* Main ***************************************************************************************************** */

body {
    background-image: url(../images/bg.jpg);
    color: #fff;
}

header {
    width: 100%;
    height: 100px;
    background-image: url(../images/bg-header.jpg);

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

header .logo {
    float: left;
    height: 100px;
    /* header의 높이와 동일하게 설정 */

    /*  background-color: yellow; */
    background-image: url(../images/header-triangle.png);
    background-repeat: no-repeat;
    background-position: right top;

    padding-right: 120px;
    margin-left: 32px;
}

header .logo a {
    margin-top: 50px;
    display: block;
}

header .logo a img {}

header .gnb {
    float: right;
}

header .gnb ul {}

header .gnb ul li {
    display: inline-block;
    margin-left: 14px;
    line-height: 100px;
    position: relative;
    /* 가상요소 before의 기준! */
}

header .gnb ul li::before {
    content: "/";
    position: absolute;
    /* li를 기준으로 만들어짐 */
    left: -12px;
    /* 각 글자 수나 크기가 모두 다르기 때문에 퍼센티지로 설정한다. */
}


header .gnb ul li:first-child::before {
    display: none;
}

header .gnb ul li a {
    color: #fff;
}

header .gnb ul li a:hover {
    text-decoration: underline;
    color: greenyellow;
}

section {
    width: 960px;
    margin: 0 auto 50px;
    background: url(../images/bg-triangle.png) no-repeat;

}

section .about {
    background: url(../images/triangles.png) no-repeat 123px 142px;
    height: 550px;
    position: relative;
    /* .title & .txt-box의 기준 */

    border-bottom: 1px solid silver;
    margin-bottom: 15px;

}

section .about .title {
    position: absolute;
    right: 190px;
    top: 150px;
}

section .about .txt-box {
    width: 250px;
    font-size: 14px;

    position: absolute;
    right: 0;
    bottom: 15px;
}

section .about .txt-box p {
    margin-bottom: 10px;
}

section .about .txt-box p:first-child {
    font-size: 16px;
    font-weight: 600;
    color: yellow;
}

section .about .txt-box p a {
    color: #fff;
}

section .about .txt-box p a:hover {
    background-color: #fff;
    color: #333;
    font-weight: 600;
}

section .content {
    /* outline: 2px solid tomato; */
}

section .content .title {
    font-size: 24px;
    margin-bottom: 20px;
}

section .content .box-wrap {}

section .content .box-wrap .box {
    width: 220px;
    float: left;
}

/* 형제요소 선택자(~) : 첫째 요소를 제외한 나버지 형제요소 선택 */
.box-wrap .box~.box {
    margin-left: 26.66px;
}

.box-wrap .box img {
    width: 100%;
}

.box-wrap .box p,
.box-wrap .box ul li {
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    letter-spacing: -0.3px;
}

.box-wrap .box p:last-child,
.box-wrap .box ul li:last-child {
    border-bottom: none;
}

footer {
    width: 100%;
    background-image: url(../images/bg-header.jpg);
    padding: 20px 0 30px;
}

footer a {
    color: silver;
}

footer a:hover {
    text-decoration: underline;
}

footer ul.links {
    width: 960px;
    margin: 0 auto;
    text-align: right;

    /*  outline: 2px solid plum; */
}

footer .links li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

footer .links li:last-child {
    padding-right: 0;
    color: silver;
}

/* footer .links li::after {
    content: "|";
    position: absolute;
    right: -4px;
} */

/* footer .links li:last-child::after {
    display: none;
} */

footer .links li::before {
    content: "";
    display: block;
    width: 2px;
    height: 16px;
    background-color: silver;
    position: absolute;
    left: -2px;
    top: 5px;
}

footer .links li:first-child::before {
    display: none;
}